// Widescreens
@include mediaXl {

    .projects {
        grid-template-columns: repeat(4, 1fr);
    }

}

//Desktops and laptops
@include mediaLg {
    .projects {
        grid-template-columns: repeat(3, 1fr);
    }
}

//Tablets and small laptops
@include mediaMd {
    main{
        align-items: center;
        text-align: center;

        .lg-heading {
            line-height: 1;
            margin-bottom: 1rem;
        }
    }

    ul.menu-nav{
        float:none;
        width: 100%;
        min-height:0;

        &.show {
            transform: translate3d(0,0,0);

        }
    }

    .menu-nav {
        height: 400;
    }

    .about-info {
        grid-template-areas: 
        'bioimage'
        'bio'
        'grap1' 
        'grap2';

        grid-template-columns: 1fr;
    }

    .projects {
        grid-template-columns: repeat(2, 1fr);
    }

    .facts-about{
        grid-template-areas: 
        'bio'
        'head1'
        'school'
        'other'
        'head2'
        'hobby1'
        'hobby2'
        'hobby3';
        grid-template-columns: repeat(1, 1fr);
    }

    .work-info{
        grid-template-areas: 
        'img1 work1'
        'img2 work2'
        'img3 work3'
        'img4 work4'
        'img5 work5'
        'img6 work6'
        'img7 work7';
        grid-template-columns: repeat(2, 1fr);
    }
}

//Smartphones
@include mediaSm {
    main#home h1{
        margin-top: 10vh;
    }
    .projects {
        grid-template-columns:1fr;
    }
    .facts-about{
        grid-template-areas: 
        'bio'
        'head1'
        'school'
        'other'
        'head2'
        'hobby1'
        'hobby2'
        'hobby3';
        grid-template-columns: 1fr;
    }

    .work-info{
        grid-template-areas: 
        'img1'
        'work1'
        'img2'
        'work2'
        'img3'
        'work3'
        'img4'
        'work4'
        'img'
        'work5'
        'img6'
        'work6'
        'img7'
        'work7';
        grid-template-columns: 1fr;

        .images {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }

}