@import 'config';
@import 'menu';


* {
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to bottom right, $primary-color, darken($secondary-color,20));
    //background: $primary-color;
    color: set-text-color($primary-color);
    height:100%;
    margin: 0; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.5;
}

h1,h2,h3 {
    margin: 0;
    font-weight: 500;
    &.lg-heading {
        font-size: 6rem;
    }
    &.sm-heading {
        font-size: 2rem;
        color: set-text-color($primary-color);
    }
    &.extra {
        font-size: 2rem;
        //color:lighten($extra-color,6);
        color: $extra-color;
    }
}

a {
    color: set-text-color($primary-color);
    text-decoration: none;
}

header {
    position: fixed;
    z-index: 2;
    width: 100%;
}

.text-secondary {
    color:$secondary-color;
    //color: lighten($secondary-color,5);
}



main {
    padding: 4rem;
    min-height:calc(100vh - 60px);
    .icons {
        margin-top: 1rem;

        a {
            padding: 0.4rem;

            &:hover {
                color:$extra-color;
                //color:lighten($extra-color,6);
                
                //transition: all 0.5s ease-out;
            }
        }
    }
    .pdfs{
        h2 {
           margin-top: 4rem;
           

           .text-cv,.text-aplication{
            color: $secondary-color;
            font-weight: 600;
            //color: lighten($secondary-color,5);
           }
            
        }

        .pdf-items{
            list-style: none;
        }
        a {
            padding: 0.4rem;
            font-size: 1.3rem;

            &:hover {
                color: $extra-color;
                //color:lighten($extra-color,6);
                //transition: all 0.5s ease-out;
            }
        }

    }
    &#home {
        overflow: hidden;

        h1 {
            margin-top: 20vh;
        }
    }
}

//About me
.about-info {
    margin-top: 1rem;
    display: grid;
    grid-gap: 30px;
    grid-template-areas: 
    'bioimage bio'
    'grap1 grap2';
    grid-template-columns: repeat(2, 1fr);
    
    .bio-image{
    grid-area: bioimage;
    margin: auto;
    border: $secondary-color 3px solid;
    }

    .bio{
        grid-area: bio;
        font-size: 1.5rem
    }

    .sosial-skills{
        grid-area: grap1;
    }

    .language-skills{
        grid-area: grap2;
    }

    .skills {
        font-size: 1.5rem;
        background: lighten($primary-color,5);
        padding: 0.5rem;
        border-bottom: $secondary-color 5px solid;

        h3 {
            text-align: center;
            background: $primary-color;
        }

        h5{
            text-align: center;
            font-weight: 600;
        }

        img{
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

// Button Styles
.btn {
    font-size: 20px;
    display: block;
    padding: 0.5rem 1rem;
    border: 0;
    margin-bottom: 0.3rem;
    text-align: center;

    &:hover {
        background: $extra-color;
        color: set-text-color($extra-color);
    }
}

.btn-facts{
    @extend .btn;
    margin-top: 1rem;
    background: $primary-color;
    color: set-text-color($primary-color);
}

//Facts page
//Slideshow from https://www.geeksforgeeks.org/programming-a-slideshow-with-html-and-css/

/*#slideShow {
        border: 6px white solid;
        overflow: hidden;
        height: 510px;
        width: 728px;
        margin-top: 10px;
        //padding-top: 10px;
        //margin: 0 auto;        
    }
.slide {
        
        float: left;
        height: 510px;
        width: 728px;

        p{

            font-size: 4rem;
            padding: 8px 12px;
            //position: absolute;
            bottom: 8px;
            text-align: center;

        }
    }

.mySlides{
    width: calc(728px * 3);
    animation: slide 20s ease infinite;
}*/

#slideSet {
    
    height: 600px;
    width: 800px;
    margin-top: 10px;
    margin-bottom: 70px;


    img {
        border: 6px white solid;
        height: 600px;
        width: 800px;
        object-fit: cover;

    }

    p{
        font-size: 2rem;
        //padding: 1px 12px;
           //position: absolute;
        bottom: 10px;
        text-align: center;
    }
}

#slideSet > * {
    animation: 12s slides infinite linear;
    position: absolute; 
    opacity: 0.0
}

#slideSet > *:nth-child(1) {animation-delay: 0s}
#slideSet > *:nth-child(2) {animation-delay: 4s}
#slideSet > *:nth-child(3) {animation-delay: 8s}

.facts-about{
    margin-top: 3rem;
    display: grid;
    grid-gap: 30px;
    grid-template-areas: 
    'life life life'
    'bio bio bio'
    'head1 head1 head1'
    'school school other'
    'head2 head2 head2'
    'hobby1 hobby2 hobby3';
    grid-template-columns: repeat(3, 1fr);

    .bio{
        grid-area: bio;
        font-size: 1.5rem
    }

    .header1{
        grid-area: head1;

    }

    .fact1 {
        grid-area: school;
    }
    .fact2 {
        grid-area: other;
    }
    .header2{
        grid-area: head2;

    }
    .hobby1 {
        grid-area: hobby1;
    }
    .hobby2 {
        grid-area: hobby2;
    }
    .hobby3 {
        grid-area: hobby3;
    }

    .header{
        font-size: 2rem;
        color: $secondary-color;
    }

    .Hobbies, .facts{
        font-size: 1.5rem;
        background: lighten($primary-color,5);
        padding: 0.5rem;
        border-bottom: $secondary-color 5px solid;

        h3 {
            text-align: center;
            background: $primary-color;
        }
    }
}


@keyframes slide {
    20% {margin-left: 0px;}
    40% {margin-left: calc(-728px * 1);}
    60% {margin-left: calc(-728px * 2);}
}
.work-info{
    margin-top: 1rem;
    display: grid;
    grid-gap: 30px;
    grid-template-areas: 
    'img1 work1 work1 work1'
    'img2 work2 work2 work2'
    'img3 work3 work3 work3'
    'img4 work4 work4 work4'
    'img5 work5 work5 work5'
    'img6 work6 work6 work6'
    'img7 work7 work7 work7';
    grid-template-columns: repeat(4, 1fr);

    .image2{
        grid-area: img2;
    }
    
    .image3{
        grid-area: img3;
    }

    .work1{
        grid-area: work1;
    }
    .work2{
        grid-area: work2;
    }
    .work3{
        grid-area: work3;
    }
    .work4{
        grid-area: work4;
    }
    .work5{
        grid-area: work5;
    }
    .work6{
        grid-area: work6;
    }
    .work7{
        grid-area: work7;
    }

    .works{
        font-size: 1.5rem;
        background: lighten($primary-color,5);
        padding: 0.5rem;
        border-bottom: $secondary-color 5px solid;
        h3 {
            text-align: center;
            background: $primary-color;
        }
    }
}

//School projects
.projects {
    margin-top: 1rem;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(3, 1fr);

    h2 {
        font-size: 2rem;
    }
    img {
        height: 500px;
        margin-top: 3px;
        width: 300;
        border: 3px white solid;

        &:hover {
            opacity: 0.5;
            border-color: $secondary-color;
            @include easeOut;        }
    }
    p {
        height: 160px;
        font-size: 1.3rem;
        padding: 3px 5px;
    };
}



.btn-git{
    @extend .btn;
    background: $primary-color;
    color: set-text-color($primary-color);
}



// contact page
.boxes {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1rem;

    div {
        font-size: 2rem;
        border: 3px set-text-color($primary-color) solid;
        padding: 1.5rem 2.5rem;
        margin-top: 3rem;
        @include easeOut;
        
        &:hover {
        padding: 0.5rem 1.5rem;
        background: $extra-color;
        color: set-text-color($extra-color);
            span{
                color: set-text-color($extra-color);
            }
        }
    }

    
}



#main-footer {
    font-size: 15px;
    text-align: center;
    padding: 1rem;
    background-color: darken($secondary-color, 30);
    color: set-text-color($primary-color);
    height: 60px;
}



@import 'mobile';